footer {
    background-color: #00bfff;
    padding: 20px 0;
    text-align: center;
    margin-top: 17%;
    
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
   
   
  }
  
  p {
    margin: 0;
  }
  