<nav class="navbar">
  <div class="container">
    <div class="left-section">
      <div class="logo">
        <img src="/assets/Images/medicine.png" alt="PharmCare Logo" class="logo-icon">
        <h1>pharmCare</h1>
      </div>
    </div>
    <div class="middle-section">
      <div class="search">
        <input type="text" placeholder="Search medicine and wellness products">
      </div>
    </div>
    <div class="right-section">
      <div class="links">
        <a href="#" (click)="onSignUpClick()">Sign Up</a>
        <a href="#">Sign In</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
    </div>
  </div>
</nav>
