<div class="row">
    <div class="col-3">
      <div class="card">
        <img src="\assets\Images\crocin.jpg" class="card-img-top" alt="crocin">
        <div class="card-body">
          <h5 class="card-title">Crocin</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img src="\assets\Images\RIFISTRIC-400.jpg" class="card-img-top" alt="RIFISTRIC-400">
        <div class="card-body">
          <h5 class="card-title">RIFISTRIC-400</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img src="\assets\Images\Glycomet_Gp_1mg.PNG" class="card-img-top" alt="Glycomet_Gp_1mg">
        <div class="card-body">
          <h5 class="card-title">Glycomet_Gp_1mg</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img src="\assets\Images\nicardia_reatard.PNG" class="card-img-top" alt="nicardia_reatard">
        <div class="card-body">
          <h5 class="card-title">Nicardia_Reatard</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-3">
      <div class="card">
        <img src="\assets\Images\met_xl.PNG" class="card-img-top" alt="met_xl">
        <div class="card-body">
          <h5 class="card-title">Met Xl 50mg</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img src="\assets\Images\eno.jpg" class="card-img-top" alt="eno">
        <div class="card-body">
          <h5 class="card-title">ENO Lemon Digestive Anatacid 100 gm Jar Pack</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img src="\assets\Images\Candid_B_cream.jpg" class="card-img-top" alt="Candid_B_cream">
        <div class="card-body">
          <h5 class="card-title">Candid-B Cream 20 gm</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img src="\assets\Images\ascoril.jpg" class="card-img-top" alt="ascoril">
        <div class="card-body">
          <h5 class="card-title">Ascoril LS Syrup</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>